@media (min-width: 993px){
	.vertical-bottom, .vertical-middle, .vertical-top {
	    display: table;
	    width: calc(100% + 30px);
	    width: 100% \0/IE9;
	    table-layout: fixed;
	}
	.vertical-middle>* {
   	 vertical-align: middle;
	}
	.vertical-bottom>*, .vertical-middle>*, .vertical-top>* {
	    display: table-cell;
	    float: none!important;
	}

}
@media (max-width: 993px){
	.banner-img {
    	width: 100%;
	}
	.side-text {
	    padding: 80px 0px;
	}
}